<div class="signup">
	<div class="company">
		
	</div>
	<div class="view">
		<div class="pane">
			<div class="row-header">
				
			</div>
			<div class="row-body">
				<form>
					<div class="credentials">
						<div class="name">
							<input type="text" placeholder="Full name" />
						</div>
						<div class="email">
							<input type="text" placeholder="Email address" />
						</div>
						<div class="password">
							<input type="text" placeholder="Password" />
						</div>
						<div class="password-confirm">
							<input type="text" placeholder="Confirm password" />
						</div>
					</div>
					<div class="options">
						<div class="networks">
							
						</div>
						<div class="register">
							<input type="submit" class="button-confirm" value="register" />
							<input type="submit" class="button-cancel" value="cancel" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<divc class="footer">
		
	</div>
</div>